.careers {
    /* Careers??? */

    position: absolute;
    width: 330px;
    height: 81px;
    left: 545px;
    top: 3168px;

    /* font-family: 'Overpass'; */
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 81px;
    /* identical to box height */

    background: radial-gradient(53.8% 5635.33% at 50% 50%, #FE3688 0%, #73BCFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */


}