
 .footer {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.aviewLogo {
    display: flex;
    /* justify-content: center; */
}

.socialLogos {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    
}

.socialLogos img {
    padding: 25px;
}