
.contentCreator-Container {
    display: flex;
    flex-direction: column;
}

.creatorTitle {
    display: flex;
    justify-content: center;
    padding-top: 160px;
    padding-bottom: 80px;
}

.creators {
    display: flex;
    flex-direction: column;
    padding-bottom: 160px;
}

.creator-row {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

h4 {
    color: white;
    text-align: center;
}