.genTitle{
  

    position: absolute;
    width: 550px;
    height: 81px;
    left: 479px;
    top: 3888px;

    font-weight: 700;
    font-size: 64px;
    line-height: 81px;
    /* identical to box height */

    background: radial-gradient(53.8% 5635.33% at 50% 50%, #FE3688 0%, #73BCFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;



}

.expAudience{
    /* Expand your Audience */

    position: absolute;
    width: 505px;
    height: 162px;
    left: 767px;
    top: 4025px;


    font-weight: 700;
    font-size: 64px;
    line-height: 81px;

    color: #FFFFFF;


}

.compImg{
    /* business-3d-374 1 */

    position: absolute;
    width: 501.32px;
    height: 300px;
    left: 147px;
    top: 4030px;

    background: url(../img/computer.png);

}

.expDesc{
    /* Choosing not to expand your content to reach international viewers is a missed opportunity. AVIEW can help. Contact us today! */

position: absolute;
width: 502px;
height: 90px;
left: 767px;
top: 4197px;

font-weight: 500, medium;
font-size: 24px;
line-height: 30px;

color: #FFFFFF;


}

.gStarted{
    /* Rectangle 101 */

    position: absolute;
    left: 767px;
    top: 4327px;



}
.becomeT{
    /* Rectangle 100 */

    position: absolute;
    left: 770px;
    top: 4772px;


}


.translatorHeadline{
    /* Subtitling Jobs */

    position: absolute;
    width: 505px;
    height: 81px;
    left: 770px;
    top: 4581px;

    font-weight: 700;
    font-size: 64px;
    line-height: 81px;
    /* identical to box height */

    color: #FFFFFF;


}
.translatorDesc{
    /* Are you looking for a subtitling job? Apply today and join the team. */

    position: absolute;
    width: 485px;
    height: 60px;
    left: 770px;
    top: 4672px;

    font-weight: 500, medium;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;


}

.translatorImg{
    /* casual-life-3d-young-man-in-orange-headphones-sitting-at-green-table-and-using-computer 1 */

    position: absolute;
    width: 345px;
    height: 350px;
    left: 247px;
    top: 4545px;

    background: url(../img/translator.png);

}