.globeInfoContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.text {
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 250px;
}

.text p {
    color: white;
}

.globe img {
    padding-right: 100px;
}