.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 18px;
}

.logo {
  padding-left: 50px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 35px;
}

.nav-item {
  padding-left: 25px;
  padding-right: 25px;
  white-space: nowrap;

}
