.menuBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%
}

.logoContainer {
    margin-left: 100px;
    margin-top: 55px;
}

.Landing-logo {
    /* logowhite 2 */
    
    /* position: absolute; */
    width: 149.01px;
    height: 50px;
    /* left: 100px; */
    /* top: 55px; */
}

.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

button {

}

p {
    
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-transform: 'none';
    color: #fff;
}

.homeBut{
    position: absolute;
    width: 49px;
    height: 23px;
    left: 517px;
    top: 70px;


}

.creatorBut{
    position: absolute;
    width: 70px;
    height: 23px;
    left: 616px;
    top: 70px;

}
.translatorBut{
    position: absolute;
    width: 92px;
    height: 23px;
    left: 736px;
    top: 70px;

}

.aboutBut{
    position: absolute;
    width: 51px;
    height: 23px;
    left: 878px;
    top: 75px;
}
.contactBut{
    position: absolute;
    width: 90px;
    height: 23px;
    left: 1180px;
    top: 70px;
    

}
.contactRect{
    position: absolute;
    width: 165px;
    height: 50px;
    left: 1175px;
    top: 57px;

}
