.statscontainer {
    display: flex;
    justify-content: center;
    padding-left: 40px;

}
.stats {
    display: flex;
    flex-direction: column;
}

.stats img {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-right: 100px;
    padding-left: 100px;

}

.stats p {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 100px;
    color: white;
}

