.headLine{
    /* Translation and Transcribing */

/* Translation and Transcribing */


    
    position: absolute;
    width: 639px;
    height: 61px;
    left: 401px;
    top: 164px;
    
    padding:0;

    font-weight: 700;
    font-size: 48px;
    line-height: 61px;

    /* identical to box height */

    background: linear-gradient(93.01deg, #FE3688 -8.07%, #73BCFF 99.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */


}

.description{
    /* AVIEW is a leading multi-media translation service. We work with content creators to expand their international viewership */
/* Connect with us today to gain AVIEW on your competitors. */
    position: absolute;
    width: 610px;
    height: 54px;
    left: 415px;
    top: 230px;

    font-weight: 400;
    font-size: 21px;
    line-height: 27px;
    text-align: center;

    color: #FFFFFF;


}
.contactUs{
/* Contact Us */

    position: absolute;
    width: 165px;
    height: 50px;
    left: 543px;
    top: 324px;

    /* font-family: 'Overpass';
    font-style: normal; */




}
.learnMore{
    position: absolute;
    width: 110px;
    height: 23px;
    left: 763px;
    top: 337px;
}