.container {
    display: flex;
    justify-content: center;
}

.headLine{
    /* Translation and Transcribing */
display: flex;
padding-top: 80px;
}

.headLine-item {
    display: flex;
    font-size: 48px;
    color:#FFFFFF; 
    white-space: nowrap;
    width: 100%;
    /* margin: auto; */
}

.ttDescription {
    color: #FFFFFF;
    font-size: 21px;
    justify-content: center;
    flex-wrap: wrap;
}