.headLine{
    /* Translation and Transcribing */

/* Translation and Transcribing */

    position: absolute;
    width: 639px;
    height: 61px;
    left: 360px;
    top: 242px;

    /* font-family: 'Overpass';
    font-style: normal; */
    font-weight: 700;
    font-size: 48px;
    line-height: 61px;
    /* identical to box height */

    background: linear-gradient(93.01deg, #FE3688 -8.07%, #73BCFF 99.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */


}

.description{
    /* AVIEW is a leading multi-media translation service. We work with content creators to expand their international viewership */

    position: absolute;
    width: 745px;
    height: 120px;
    left: 348px;
    top: 303px;

    /* font-family: 'Overpass';
    font-style: normal; */
    
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;


}
.contactUs{
/* Contact Us */

    position: absolute;
    width: 200px;
    height: 77px;
    left: 520px;
    top: 426px;

    /* font-family: 'Overpass';
    font-style: normal; */




}
.learnMore{
    position: absolute;
    width: 200px;
    height: 30px;
    left: 795px;
    top: 443px;
}