
.whyAview-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;

}

p {
    color: white;
}

.card1{
    padding: 50px;
}

.whyAview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 80px;
}

.textHeader {
    display: flex;
    justify-content: center;
}

.textDesc {
    display: flex;
    justify-content: center;
    color: white
}